@import "./vars";
@import "./mixins";

// =================================
// color scheme values
// =================================
$colors: (
  "backgroundNavLight": rgba(236, 236, 236, 0.96),
  "backgroundLight": #ececec,
  "backgroundDark": #1a1a1a,
  "backgroundNavDark": rgba(26, 26, 26, 0.96),
  "backgroundSections_Light": rgba(236, 236, 236, 0.2),
  "backgroundSections_Dark": rgba(26, 26, 26, 0.2),
  "backgroundCard1_Light": #fcf3e9f6,
  "backgroundCard2_Light": #f9f9f8,
  "backgroundCard1_Dark": #221915f6,
  "backgroundCard2_Dark": #0f0f0f,
  "txtLight": #2e2e2e,
  "txtDark": #e6e4e4,
  // Grey Colors worden gebruikt voor social meida icons + hover "GreyColor": #666666,
  "DarkerGreyColor": #383838,
  "GeneralLight": #e6e4e4,
  "GeneralDark": #2e2e2e,
  "BoxShadowLight": (
    5px 5px 22px 0 rgba(0, 0, 0, 0.1),
    -10px -10px 22px 0 rgba(255, 255, 255, 0.5),
    inset -5px -5px 5px 0 rgba(0, 0, 0, 0.05),
    inset 5px 5px 5px 0 rgba(255, 255, 255, 0.7)
  ),
  "BoxShadowDark": (
    10px 10px 8px rgba(0, 0, 0, 0.2),
    -10px -10px 22px 0 rgba(29, 29, 29, 0.5),
    inset -5px -5px 5px 0 rgba(0, 0, 0, 0.05),
    inset 5px 5px 5px 0 rgba(255, 255, 255, 0.03)
  )
);
@function Color($sort) {
  @return map-get($colors, $sort);
}

//--------------------------
// Theme
//--------------------------
@media (prefers-color-scheme: light) {
@include ColorPalette;
  :root {
    --BackgroundNavColor: #{Color(backgroundNavLight)};
    --BackgroundColor: #{Color(backgroundLight)};
    --BackGroundCardLevel1: #{Color(backgroundCard1_Light)};
    --BackGroundCardLevel2: #{Color(backgroundCard2_Light)};

    --BackgroundSections: #{Color(backgroundSections_Light)};

    --ProgressColor: #{Color(GeneralLight)};

    --TxtColor: #{Color(txtLight)};

    --BoxShadow: #{Color(BoxShadowLight)};
    --ImageFilter: 100%;
    --rotate: 180deg;
  }
}
@media (prefers-color-scheme: dark) {
@include ColorPalette;
  :root {
    --BackgroundNavColor: #{Color(backgroundNavDark)};
    --BackgroundColor: #{Color(backgroundDark)};
    --BackGroundCardLevel1: #{Color(backgroundCard1_Dark)};
    --BackGroundCardLevel2: #{Color(backgroundCard2_Dark)};
    --BackgroundSections: #{Color(backgroundSections_Dark)};

    --ProgressColor: #{Color(GeneralDark)};
    
    --TxtColor: #{Color(txtDark)};
    
    --BoxShadow: #{Color(BoxShadowDark)};
    --ImageFilter: 75%;
    --rotate: 0deg;
  }
}
